<div class="container">
    <footer class="footer">
        <small>
            Ruby on Rails Alpha Blog by <a href="https://www.linkedin.com/in/pablo-christian/">Pablo Christian</a>
        </small>
        <nav></nav>
    </footer>
</div>
